.card {
  //border-radius: 8px;
  //box-shadow: 0 2px 20px -10px rgba(0, 0, 0, 0.4);

  &[type="main-data"] {
    background: none;
    //width: 33.3%;
    display: inline-block;
    //padding: 30px;
    padding: 30px 0;
    border-radius: 4px;
    margin: 0 30px;
    background: $white;
    width: calc(33.3% - 80px);
    box-shadow: 0 4px 8px -8px rgba(0,0,0,0.5);
    position: relative;
    text-align: center;

    .card {
      &__content {
        span {
          float: left;
          width: 100%;
          font-size: 13px;
          color: $grey;
          letter-spacing: 0.5px;
          position: absolute;
          left: 50%;
          width: 100%;
          transform: translateX(-50%);
          top: calc(100% + 5px);
          small {
            letter-spacing: 0.2px;
            opacity: 0.4;
          }
        }
      }
    }

    &:nth-child(1) {
      .card {
        &__content {
          color: $positivi;
          opacity: 0.8;
        }
      }
    }
    &:nth-child(2) {
      .card {
        &__content {
          color: $guariti;
          opacity: 0.8;
        }
      }
    }
    &:nth-child(3) {
      .card {
        &__content {
          color: $deceduti;
          opacity: 0.8;
        }
      }
    }

    .card {
      &__title {
        font-family: $mainFont;
        position: absolute;
        top: -30px;
        left: 0;
        text-align: center;
        width: 100%;
        font-size: 14px;
        letter-spacing: 0.2px;
        color: $grey;
        font-weight: 500;
      }
      &__content {
        font-family: $mainFont;
        font-weight: 500;
        font-size: 24px;
        color: $grey;
        opacity: 0.5;
      }
    }
  }

  &__title {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 15px;
  }

  &__content {
    padding: 0 15px;
    line-height: 22px;
  }
}

