@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto+Slab:300,400,500|Sen:400,700|Ubuntu:300,400,500&display=swap');

$mainFont : 'Ubuntu';
$covid : 'Righteous';
$RobotoSlab : 'Roboto Slab';
$Sen : 'Sen'



