footer.footer {
  float: left;
  width: 100%;
  height: 100px;
  background: $grey;
  position: relative;

  .container {
    height: 100%;
    position: relative;
  }

  .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    img {
      width: 100%;
      max-width: 200px;
    }
  }

  nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    width: 100%;
    ul {
      text-align: right;
      width: 100%;
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 15px;
        color: $white;
        &:last-child {
          margin-right: 0;
          display: inline-block;
        }
        a {
          color: inherit;
          font-family: inherit;
        }
      }
    }
  }
}