@media screen and (min-width: 768px) and (max-width: 1200px) {
  section {
    &.hero {
      .card[type="main-data"] {
        width: calc(33.3% - 20px);
        margin: 0 15px;
        &:nth-child(1) {
          margin-left: 0;
        }
        &:nth-child(3) {
          margin-right: 0;
        }
      }
      .overview {
        ul {
          li {
            width: 25%;
          }
        }
      }
    }
    &.overview {
      .overview {
        &__list-head {
          .provLbl {
            width: 50%;
            margin-left: -15px;
            float: left;
            text-align:left !important
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    section {
      &.hero {
        .main-data {
          padding-right: 30px;
        }
        .overview {
          padding: 40px 20px;
          max-width: 75%;
          left: 30px;
          bottom: 40px;
          transform: none
        }
        .btn {
          bottom: 100px;
          max-width: 25%
        }
        .col {
          .covid {
            h1 {
              transition: font-size 0.3s ease-out;
              font-size: 70px;
            }
          }
        }
      }

      &.overviews {
        .overview {
          &__list-item,
          &__list-head {
            .col {
              &--4 {
                width: 40%;
              }
            }
          }
          &__list-head {
            .provLbl {

            }
          }
          &__list-item {
            ul {
              &:nth-child(1) {
                li {
                  ul {
                   // margin-right: -50px;
                  }
                }
              }
            }
            &.active {
              .col--4 {
                width: 18% !important;
                span {
                  width: 100%;
                }
              }
              .prov__list {
                width: 80%;
                margin-left: -15px;
                ul {
                  column-count: 2;
                }
              }
            }
          }
        }
      }
    }
  }

@media screen and (max-width: 1024px) {
  section {
    &.world {


      .col {
        &--5 {
          width: 100%;
        }
      }

      .section-title {
        &--big {
          position: relative;
          transform: none;
          top: auto;
          float: left;
          width: 100%;
        }
      }

      .overview {
        &-list-world {
          &__wrapper {
            float: left;
            width: 100%;
          }
          &__list {
            &-head {
              li {
                i {
                  font-size: 20px !important;
                }
              }
            }
            &-item {
              li {
                font-size: 14px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {

  .d-only {
    display: none !important;
  }
  .m-only {
    display: inline-block !important;
  }

  section {
    &.hero {
      height: auto;
      min-height: 600px;

      .btn {
        position: relative;
        left: auto;
        right: auto;
        max-width: none;
        bottom: auto;
        float: left;
      }

      .col {
        padding: 0 !important;
        &--5 {
          float: left;
          width: 100%;
        }
        &:nth-child(2) {
          top: auto;
          transform: none;
          height: auto;
        }
        .covid,
        .main-data {
          position: relative;
          transform: none;
          left: auto;
          top: auto;
          float: left;
        }
        .main-data {
          margin-bottom: 30px;
          width: calc(100% + 20px);
          margin-left: -10px;
        }
        .covid {
          margin-top: 100px;
          margin-bottom: 90px;
          h1 {
            padding-left: 8px;
            font-size: 18vw;
          }
          &__status {
            padding-left: 10px;
          }
        }
      }
      .overview {
        position: relative;
        float: left;
        max-width: none;
        bottom: auto;
        margin-top: 60px;
        margin-bottom: 30px;
        width: 100%;
        padding: 20px;
        ul {
          column-count: 0;
          float: left;
          width: 100%;
          //grid-row-gap: 30px;
          li {
            width: 50%;
            text-align: left;
            float: left;
            padding: 10px 0;

            &:first-child {
              strong {
                margin-top: 0;
              }
            }
            &:last-child {
              margin-bottom: 0;
            }
            strong {
              font-size: 14px;
              line-height: 16px;
              float: left;
              width: 100%;
              br {
                display: none;
              }
            }
            span {
              text-align: left;
              margin-top: 5px;
              font-size: 16px;
              opacity: 0.5;
              float: left;
              width: 100%;
            }
          }
        }
      }
      .card[type="main-data"] {
        width: calc(33.3% - 20px);
        margin: 0 10px;
        padding: 30px 5px;

          .card__title {
            top: -40px;
          }

      }
    }
    &.overviews {
      margin-top: 0;
      padding-top: 10px;
      .overview__list {
        margin-top: 0;
        &-head {
          display: none;
        }
        &-item {
          ul {
            li {
              width: 50%;
              span {
                font-size: 14px;
                margin-top: 5px;
              }
            }
            &:nth-child(1) {
              li {
                span {
                  margin-top: 0;
                  opacity: 1;
                }
                ul {
                  width: 60%;
                  li {
                    font-size: 14px;
                    text-align: center;
                  }
                }
              }
            }
          }
          .prov {
            right: 20px;
          }
          .col {
            width: 100%;
            &.col--4 {
              ul {
                padding-right: 0px;
                li {
                  text-align: center;
                }
              }
            }
            &.col--6 {
              display: none;
            }
          }



          &.active {

            ul ul {
              display: block;
            }

            ul.col--4 {
              width: 100%;
              li {
                span {
                  width: 40%;
                }
              }
            }

            ul.col--6 {
              display: block;
              margin-top: 20px;
              border-top: 1px solid $main;
              padding-top: 20px;
              float: left;
              width: calc(100% + 20px);
              li {
                vertical-align: top;
                margin-bottom: 20px;
                text-align: left;
                &:last-child {
                  margin-bottom: 0;
                }
                strong {
                  br {
                    display: none;
                  }
                }
              }
            }
            .prov__list {
              width: calc(100% + 20px);
              float: left;
              margin-top: 0px;
              margin-left: 0;
              ul {
                border-top: 1px solid $main;
                padding-top: 20px;
                float: left;
                width: calc(100% + 30px);
                column-count: auto;
                li {
                  //padding-right: 30px;
                  width: 100%;
                  margin-right: 0;
                  strong {
                    width: 70%;
                  }
                  span {
                    text-align:right;
                    width: 30%;
                    padding-right: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.charts {
      .recharts-wrapper {
        margin-left: -10px;
        .xAxis {
          .recharts-cartesian-axis-tick {
            display: none !important;

            &:first-child {
              display: inline-block !important;
            }

            &:last-child {
              display: inline-block !important;
            }
          }
        }
        .recharts-legend-wrapper {
          ul {
            li {
              width: 25%;
              text-align: center;
              margin: 0 0 5px 0 !important;
              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    &.world {
      .section-title {
        text-align: left;
        &--big {
          h2 {
            padding-left: 20px;
            font-size: 30px;
            line-height: 32px;
            height: 70px;
            &:before {
              left: -5px;
            }
          }
        }
        .covid__status {
          padding-left: 20px;
          li {
            float: left;
            width: 100%;
            margin-bottom: 15px;
            span {
              float: left;
              width: 100%;
              margin-top: 2px;
              margin-bottom: 10px;

              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
      }


      .overview {
        &-list-world {
          &__wrapper {
            .source {
              a {
                float: right;
                width: calc(100% - 40px);
              }
            }
          }
          &__list {
            &-head {
              ul {
                &.col--3 {
                  li {
                    strong {
                      margin-top: 5px;
                    }
                  }
                }
                &.col--7 {
                  li {
                    width: 33.3% !important;
                  }
                }
              }
            }
            &-item {
              ul {
                li {
                  span {
                    &:nth-child(1) {
                      width: 100%;
                      margin-bottom: 5px;
                    }
                    strong {
                      opacity: 0.5 !important;
                    }
                  }
                  ul {
                    li {
                      width: 33.3% !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  main {
    margin-top: 100px;
  }
}

@media screen and (max-width: 420px) {
  section {
    &.hero {
      .card[type="main-data"] {
        .card__content {
          font-size: 20px;
          padding: 0;
        }
      }
    }
  }
}


@media screen and (max-width: 320px) {
  section {
    &.hero {
      .card[type="main-data"] {
        width: calc(100% - 20px);
        margin-bottom: 90px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      .overview {
        ul {
          li {
            width: 100%;
          }
        }
      }
    }
    &.overviews {
      .overview {
        &__list {
          &-item {
            padding-right: 20px;

            .col {
              &--4 {
                ul {
                  width: 100%;
                  margin-top: 5px;
                }
              }
              &--6 {
                li {
                  width: 100%;
                  margin-bottom: 10px;
                }
              }
            }

            ul {
              &:nth-child(1) {
                li {
                  span {
                    width: 100%;
                  }
                  ul {
                    width: 100%;
                    li {
                      text-align: left !important;
                    }
                  }
                }
              }
              width: 100%;
              ul {
                width: 100%;
              }
            }
            &.active {
              .col {
                &--4 {
                  li {
                    span {
                      width: 100% !important;
                    }
                  }
                }
              }
              .prov__list {
                li {
                  span {
                    padding-right: 0 !important;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.charts {
      .recharts-wrapper {
        .recharts-legend-wrapper {
          ul {
            li {
              width: 100%;
              text-align: left;
              margin: 0px 0 5px 5px !important;
              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}