@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import "fonts";
@import "vendor/normalize";
@import "vendor/reset";


@import "colors";
@import "card";

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 1em;
  background: $main;
}

main {
  float: left;
  width: 100%;
}

.m-only {
  display: none;
}

footer.footer {
  float: left;
  width: 100%;
  margin-top: 35px;
  padding-bottom: 30px;
  text-align: center;
  position: relative;

  .copy {
    font-family: $mainFont;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: $grey;
    small {
      float: left;
      width: 100%;
      margin-top: 5px;
      a {
        font-size: 12px;
        letter-spacing: 0.5px;
        color: $grey;
        opacity: 0.8;
      }
    }
  }
}

h1 {
  font-family: $covid;
  font-size: 50px;
}


.m-only {
  display: none !important
}

* {
  box-sizing: border-box;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

.col {
  &--10 {
    width: 100%;
  }

  &--8 {
    width: 80%;
  }

  &--75 {
    width: 75%;
  }

  &--7 {
    width: 70%;
  }

  &--6 {
    width: 60%;
  }

  &--5 {
    width: 50%;
  }

  &--45 {
    width: 45%;
  }

  &--4 {
    width: 40%;
  }

  &--3 {
    width: 30%;
  }

  &--33 {
    width: 33.3%;
  }

  &--25 {
    width: 25%;
  }

  &--2 {
    width: 20%;
  }
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.flw {
  float: left;
  width: 100%;
}

.ta-c {
  text-align: center !important
}

.ta-r {
  text-align: right !important
}

.mt-30 {
  margin-top: 30px;
}

.mb-20 {
  margin-bottom: 20px !important
}

.mt-60 {
  margin-top: 60px;
}

section {
  float: left;
  width: 100%;
  position: relative;

  &.hero {
    height: 100vh;

    .btn {
      position: absolute;
      z-index: 10;
      bottom: 50px;
      right: 0;
      padding: 0 30px;
      font-family: $mainFont;
      color: $grey;
      font-size: 14px;
      width: 100%;
      //max-width: 315px;
      max-width: 17.5%;
      text-align: center;
      cursor: pointer;
      i {
        margin-left: 10px;
        opacity: 0.4;
        font-size: 12px;
        top: 0;
        position: relative;
        animation-name: viewMore;
        animation-duration: 1.1s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
      }
    }

    @keyframes viewMore {
      0% {
        opacity: 0.4;
        top: 0;
      }
      60% {
        top: -2px
      }
    }

    .container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .col {
      position: relative;
      height: 100%;
      
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
        height: 80%;
        border-radius: 16px;
      }

      .covid {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);

        h1 {
          float: left;
          width: 100%;
          font-size: 90px;
        }

        &__status {
          float: left;
          width: 100%;
          margin-top: 15px;
          font-family: $Sen;
          text-transform: uppercase;
          padding-left: 30px;
          font-size: 12px;

          li {
            float: left;
            width: 100%;
            margin-bottom: 5px;
            &:last-child {
              margin-bottom: 0;
            }
            strong {
              font-weight: 700;
              letter-spacing: 0.5px
            }
            span {
              position: relative;
              letter-spacing: 0.3px;

              &.status {
                font-weight: bold;
                padding-left: 15px;
                color: $pandemia;

                &:after {
                  content: '';
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 6px;
                  height: 6px;
                  margin-top: 0px;
                  background: $pandemia;
                  border-radius: 60px;
                  left: 3px;
                  animation: pulse-active 1s infinite ease-out;
                }
              }
            }
          }
        }
      }
      .main-data {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        text-align: right;
      }
    }
    .overview {
      float: left;
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -15px;
      padding: 40px;
      border-radius: 6px;
      max-width: 65%;
      background: $white;
      //box-shadow: 0 -4px 8px -10px rgba(0, 0, 0, 0.5);
      ul {
        width: 100%;
        text-align: center;
        li {
          display: inline-block;
          width: 20%;
          text-align: center;
          font-family: $mainFont;
          strong {
            float: left;
            width: 100%;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.2px;
            color: $grey;
            font-weight: 500;
          }
          span {
            float: left;
            width: 100%;
            margin-top: 10px;
            font-size: 20px;
            letter-spacing: 0.5px;
            font-weight: 500;
            color: $grey;
            opacity: 0.5;
          }
        }
      }
    }
  }
  &.charts {
    margin-top: 90px;
    font-family: $mainFont;
    .recharts-wrapper {
      float: left;
      width: 100%;
      svg.recharts-surface tspan {
        font-size: 10px !important;
      }

      .recharts-tooltip-wrapper {
        .recharts-default-tooltip {
          padding: 20px !important;
          border: 0 !important;
          border-radius: 4px !important;
          font-size: 12px !important;
          box-shadow: 0 4px 8px -4px rgba($grey, 0.4) !important;
          p {
            letter-spacing: 0.5px;
            font-weight: 500;
            color: $grey;
            font-size: 12px !important;
            margin-bottom: 15px !important;
          }
          ul {
            display: block;
            li {
              letter-spacing: 0.2px !important;
              span {
                .recharts-tooltip {
                  &-item {
                    font-weight: 500 !important;
                  }

                  &-separator {
                  }

                  &-item-value {
                  }
                }
              }
            }
          }
        }
      }
      .recharts-legend-wrapper {
        bottom: -15px !important;
        font-size: 12px !important;
        color: $grey !important;
        li{
          margin: 0 15px !important;
        }
      }
    }
  }
  &.overviews {
    position: relative;
    margin-top: 90px;

    &--hidden-lbl {
      .overview {
        &__list-head {
          .col {
            &--4 {
              li:not(:first-child) {
                opacity: 0;
                margin-top: -10px;
              }
              .provLbl {
                display: inline-block !important;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.2px;
                color: $grey;
                font-weight: 500;
                font-family: $mainFont;
                width: 80%;
                span {
                  color: $grey;
                  opacity: 0.6;
                }
              }
            }
            &--6 {
              opacity: 0;
              margin-top: -10px;
            }
          }
        }
        &__list-item {
          transition: opacity 0.3s ease-out;
          opacity: 0.5;
          &.active {
            transition: opacity 0.3s ease-out;
            opacity: 1;
          }
        }
      }
    }

    .overview {
      &__list {
        float: left;
        width: 100%;
        margin-top: 90px;
        margin-bottom: 20px;

        .source {
          float: left;
          font-family: $mainFont;
          font-size: 12px;
          letter-spacing: 0.4px;
          margin-top: 10px;
          color: $grey;
          a {
            font-size: 12px;
            letter-spacing: 0.5px;
            color: $grey;
            opacity: 0.8;
          }
        }

        &-head {
          float: left;
          width: 100%;
          height: 80px;
          margin-bottom: 20px;
          padding: 20px;
          padding-right: 40px;
          transition: transform 0.3s ease;
          transform: translateX(-50%);
          left: 50%;
          position: absolute;
          top: 0;
          z-index: 10;
          &.fixed {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: transform 0.3s ease-out;
            z-index: 2;
            padding: 20px 40px 20px 20px;
            max-width: 1560px;
            width: calc(100% - 60px);
            background: $main;
          }




          .col {
            &--6 {
              transition: all 0.2s ease-out;
            }
          }

          ul {
            &:nth-child(1) {
              text-align: right;
              .provLbl {
                margin-top: 16px;
                text-align: center;
                transition: all 0.2s ease-out;
                display: none;
              }
              li {
                margin-top: 16px;
                text-align: center;
                transition: all 0.2s ease-out;
                &:nth-child(1) {
                  text-align: left;
                  float: left;
                }
                i {
                  color: lighten($grey, 15%);
                  font-size: 24px;
                  position: relative;
                  top: -8px
                }
              }
            }
            li {
              width: 20%;
              display:inline-block;
              vertical-align:baseline;
              text-align: center;
              font-family: $mainFont;
              strong {
                float: left;
                width: 100%;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.2px;
                color: $grey;
                font-weight: 500;
              }
            }
          }
        }
        &-item {
          float: left;
          width: 100%;
          border-radius: 6px;
          background: $white;
          padding: 16px 20px;
          margin-bottom: 10px;
          box-shadow: 0 4px 8px -10px rgba(0, 0, 0, 0.5);
          transition: all 0.3s ease-out;
          position: relative;
          cursor: pointer;
          padding-right: 40px;

          .prov {
            position: absolute;
            top: 18px;
            right: 30px;
            color: #8b8f92;
            cursor: pointer;
            i {
              font-size: 14px;
              vertical-align: top;
            }
          }

          &.active {
            .col--4 {
              width: 20%;
              li {
                span {
                  width: 100%;
                }
              }
            }
            .prov {
              transform: rotate(180deg);
              transition: all 0.2s ease-out;
            }
            .prov__list {
              float: left;
              width: 80%;
              margin-left: -15px;
              visibility: visible;
              opacity: 1;
              height: auto;
              padding-right: 30px;
              ul {
                float: left;
                width: 100%;
                column-count: 4;
                column-gap: 40px;
                li {
                  float: none;
                  display: inline-block;
                  width: 100%;
                  margin-bottom: 5px;
                  font-family: $mainFont;
                  font-size: 14px;
                  line-height: 16px;
                  letter-spacing: 0.2px;
                  color: #8b8f92;
                  opacity: 0.8;

                  &:last-child {
                    margin-right: 0;
                  }
                  span {
                    float: right;
                    width: 35%;
                    text-align: right;
                    padding-right: 10px;
                    margin-top: 0px;
                    //color: $positivi;
                    color: #8b8f92;
                    opacity: 0.6;
                    display: inline-block !important;
                  }
                  strong {
                    float: left;
                    width: 65%;
                    i {
                      font-weight: 400;
                      opacity: 0.6;
                      font-size: 14px;
                    }
                  }
                }
              }
            }
            ul {
              ul {
                display: none;
              }
              &.col--3 {
                width: 14%;
              }
              &.col--6 {
                display: none;
              }
            }
          }
          .prov__list {
            float: left;
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: margin 0.4s ease-out;
          }
          .btn {
            float: left;
          }

          ul {
            &:nth-child(1) {
              li {
                width: 100%;
                float: left;
                text-align: left;
                span {
                  font-size: 14px;
                  line-height: 16px;
                  letter-spacing: 0.2px;
                  color: $grey;
                  opacity: 0.8;
                  font-weight: 500;
                  float: left;
                  width: 40%;
                  &:nth-child(2){
                    display: none;
                  }
                }
                ul {
                  float: right;
                  width: 60%;
                  li {
                    text-align:center;
                    float: left;
                    width: 33.3%;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    font-weight: 500;
                    color: $grey;
                    font-family: $mainFont;
                    opacity: 0.8 !important;
                    &.positivi {
                      color: $positivi
                    }
                    &.guariti {
                      color: $guariti
                    }
                    &.deceduti {
                      color: $deceduti
                    }
                  }
                }
              }
            }

            li {
              width: 20%;
              display: inline-block;
              text-align: center;

              strong,
              span {
                float: left;
                width: 100%;
                font-family: $mainFont;
              }
              strong {
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.2px;
                color: $grey;
                font-weight: 500;
              }
              span {
                font-size: 16px;
                letter-spacing: 0.5px;
                font-weight: 500;
                color: $grey;
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
  &.world {
    padding: 60px 0px;
    margin-top: 90px;
    background: #b7cbda;
    box-shadow: 0 0 50px -30px rgba(0,0,0,0.4) inset;

    .section-title {
      font-family: $mainFont;
      float: left;
      width: 100%;
      padding: 0 20px;
      color: #E8EEF4;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      //text-transform: uppercase;
      margin-bottom: 60px;


      &--big {
        position: absolute;
        top: 50%;
        padding: 0;
        transform: translateY(-50%);
        text-align: left;

        h2 {
          float: left;
          width: 100%;
          font-family: $mainFont;
          font-size: 50px;
          color: $main;
          font-weight: bold;
          text-transform: uppercase;
          padding-left: 30px;
          line-height: 46px;
          height: 100px;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: calc(100% - 18px);
            margin-top: -3px;
            background: #90a6b7;
          }
        }
      }

      .covid__status {
        float: left;
        width: 100%;
        margin-top: 15px;
        font-family: $Sen;
        text-transform: uppercase;
        padding-left: 30px;
        font-size: 12px;

        li {
          float: left;
          width: 100%;
          margin-bottom: 5px;
          color: #656d73;
          &:last-child {
            margin-bottom: 0;
          }
          strong {
            font-weight: 700;
            letter-spacing: 0.5px
          }
          span {
            text-transform: capitalize;
            position: relative;
            letter-spacing: 0.3px;
            small {
              text-transform: none;
            }
          }
        }
      }

    }

    .overview {
      &-list-world {
        &__wrapper {
          float: right;
          width: 50%;

          .source {
            float: left;
            font-family: $mainFont;
            font-size: 12px;
            letter-spacing: 0.4px;
            margin-top: 10px;
            color: #656d73;
            opacity: 0.7;
            a {
              font-size: 12px;
              letter-spacing: 0.5px;
              color: #656d73;
              opacity: 0.8;
            }
          }

        }
        &__list {
          float: left;
          width: 100%;
          margin-top: 90px;
          margin-bottom: 20px;

          .source {
            float: left;
            font-family: $mainFont;
            font-size: 12px;
            letter-spacing: 0.4px;
            margin-top: 10px;
            color: $grey;
            a {
              font-size: 12px;
              letter-spacing: 0.5px;
              color: $grey;
              opacity: 0.8;
            }
          }
          &-head {
            float: left;
            width: 100%;
            padding: 0 20px;
            ul {
              display: inline-block;
              vertical-align: bottom;
              padding-bottom: 20px;
              li {
                font-family: $mainFont;
                display: inline-block;
                vertical-align: bottom;
                width: 100%;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.2px;
                color: #656d73;
                opacity: 0.7;
                font-weight: 500;
                i {
                  font-size: 24px;
                }
              }
              &.col--7 {
                li {
                  width: 25%;
                }
              }
            }
          }

          &-item {
            float: left;
            width: 100%;
            border-radius: 6px;
            background: $white;
            padding: 16px 20px;
            margin-bottom: 10px;
            box-shadow: 0 4px 8px -10px rgba(0, 0, 0, 0.5);
            transition: all 0.3s ease-out;
            position: relative;

            ul {
              &:nth-child(1) {
                li {
                  width: 100%;
                  float: left;
                  text-align: left;
                  span {
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.2px;
                    color: $grey;
                    opacity: 0.8;
                    font-weight: 500;
                    float: left;
                    width: 30%;
                  }
                  ul {
                    float: right;
                    width: 70%;
                    li {
                      text-align:center;
                      float: left;
                      width: 25%;
                      font-size: 16px;
                      letter-spacing: 0.5px;
                      font-weight: 500;
                      color: $grey;
                      font-family: $mainFont;
                      opacity: 0.8 !important;
                      &.totali {
                        opacity: 0.5 !important;
                      }
                      &.positivi {
                        color: $positivi
                      }
                      &.guariti {
                        color: $guariti
                      }
                      &.deceduti {
                        color: $deceduti
                      }
                    }
                  }
                }
              }

              li {
                width: 20%;
                display: inline-block;
                text-align: center;

                strong,
                span {
                  float: left;
                  width: 100%;
                  font-family: $mainFont;
                }
                strong {
                  font-size: 14px;
                  line-height: 16px;
                  letter-spacing: 0.2px;
                  color: $grey;
                  font-weight: 500;
                }
                span {
                  font-size: 16px;
                  letter-spacing: 0.5px;
                  font-weight: 500;
                  color: $grey;
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }

  }
}

.social-wrapper {
  text-align: center;
  margin-top: 45px;
  float: left;
  width: 100%;
}

main {
  float: left;
  width: 100%;
  padding-top: 60px;
}


.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: 768px){
  .container {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1441px) {
  .container {
    max-width: 1620px;
  }
}

@keyframes pulse-active {
  0% {
    box-shadow: 0 0 0 0 rgba($pandemia, 1);
  }
  70% {
    box-shadow: 0 0 0 4px rgba($pandemia, 0.2);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($pandemia, 0);
  }
}

@import "responsive";

